<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
      <add key="keyf1" value="32.3" />
      <add key="keyi" value="42" />
      <add key="keys" value="Donna" />
      <add key="keyf2" value="3.14159"/>
      <add key="keyb" value="true"/>
    </appSettings>
</configuration>